nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}
nav .left_side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .right_side .desktop_screen_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
