@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:ital,wght@1,100&family=Solway:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Hachi Maru Pop", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Solway", serif;
}
#root{
  --main-color: #33DDFB;
}
/* general styles */
.mui_icon {
  cursor: pointer;
}
.mui_icon:hover{
  color: var(--main-color);
}